/* *, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color:#ECECEC;
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: normal;
  margin-top: .2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #fff;
  padding: 0 1rem;
  height: 4.8125rem;
  line-height: 4.8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header a.home {
  display: block;
  text-decoration: none;
}

header a.home img {
  display: block;
  height: 3.12rem;
  font-size: 2.3rem;
  line-height: 3.12rem;
  font-weight: bold;
  color: #00b7a1;
}
header a.home img::first-letter {
  font-size: 2.5rem;
  background-color: #00A693;
  color: #fff;
  padding: 0 .35rem;
}

.top-bar .name h1 a {
  color: #27ae9d;
  font-weight: bold;
  font-size: 2.0625rem;
  line-height: 2;
}

a {
  color: #27ae9d;
}

a:hover, a:focus {
  color: #009e89;
}

p {
  font-size: 1.1rem;
}

.page {
  min-height:100%;
  display:flex;
  flex-direction: column;
}

.l-main {
  flex:1;
}

.main {
  border-top:3px solid #27ae9d;
} */

/* main {
  max-width: 62.5rem;
} */

main {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top:3rem;
  padding: 1rem;
  background-color: #fff;
  padding-top: 1rem;
}

section p {
  margin-left: 0;
  margin-right: 0;
}

.subheading {
  font-size: 1.1rem;
  font-weight: bold;
}

#our-services h2 {
  text-align: center;
  margin-bottom: 3rem;
}

#our-services h3 {
  font-weight: bold;
}

#our-services ol li {
  /* width: 44rem; */
  /* max-width: 100%; */
  /* margin: auto; */
  /* position: relative; */
  list-style: none;
  margin-bottom: 4rem;
}

/* #our-services ol li::marker {
  font-size: 12rem;
  font-weight: bold;
  color: #666;
  position: absolute;
  left: 0;
  display: none;
} */

#our-services ol li img {
  display: block;
  width: 12rem;
  height: auto;
  max-width: 100%;
  margin: auto;
}

#our-services::after {
  content: "";
  display: block;
  clear: both;
}

@media only screen and (min-width: 40.0625em){
  #our-services ol li img {
    float: left;
    margin-right: 2rem;
  }
}

#about::after {
  display: block;
  content: "";
  clear: both;
}

#about img {
  max-width: 16rem;
  display: block;
  float: left;
  margin: 0 2rem 2rem 0;
}

#about .read-more-content {
  display: none;
}

#about:target .read-more-link {
  display: none;
}

#about:target .read-more-content {
  display: block;
}

#clients ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#clients li {
  text-align: center;
  align-self: flex-end;
  flex-basis: 100%;
  padding: 2rem;
}

@media only screen and (min-width: 40.0625em){
  #clients li {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 62.5em){
  #clients li {
    flex-basis: 33%;
    flex-basis: calc(100% / 3);
  }
}


#clients img {
  height: 4rem;
  width: auto;
}

/* Square logos */
#clients #logo_412foodrescue,
#clients #logo_xq-institute {
  height: 7rem;
}

/* Logos needing dark background */
#clients #logo_basezero {
  background-color: black;
  padding: .5rem;
}

/* Wide logos needing light background */
#clients #logo_involvemint,
#clients #logo_create-lab {

}

#selected-projects {

}

.project {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 44rem;
  max-width: 100%;
}

.project:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 62.5em){
  .projects {
    display: flex;
    flex-direction: row;
  }

  .project {
    flex-basis: 50%;
    margin: 1rem;
    margin-top: 0rem;
  }
}

.frame.browser {
  position: relative;
  /* padding: .25rem; */
  padding-top: 0.25rem;
  padding-top: 2rem;
  background-color: #e2e2e2;
  border: 1px solid #b8b8b8;
  border-radius: .25rem;
  max-width: 28rem;
  box-shadow: 0 0 .5rem rgba(0,0,0,.5);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.frame.browser .title {
  position: absolute;
  top: .25rem;
  left: .5rem;
}

.frame.browser::before {
  content: "";
  display: block;
  position: absolute;
  top: .45rem;
  right: .5rem;
  width: 3.5rem;
  height: 1rem;
  border-radius: 5rem;
  background-image: radial-gradient(#27ae9d 5px, transparent 6px);
  background-size: 18px 18px;
}

.frame img {
  display: block;
}

.footer-wrapper {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #525252;
  color: #EAEAEA;
}

footer ul {
  text-align: center;
}

footer li {
  list-style: none;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
