/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  max-width: 100%;
  position: relative;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: sans-serif;
  font-size: 1.1rem;
  background-color: #F1F1F1;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a:link {
  color: inherit;
  text-decoration: none;
  border-bottom: .125rem solid #17beeb;
}

a:visited {
  color: inherit;
  border-bottom-color: #5b2f43;
}

a:hover,
a:active,
a:focus {
  color: #15b1db;
  border-bottom: .125rem solid transparent;
}

a:visited:hover,
a:visited:active,
a:visited:focus {
  color: #5b2f43;
}

.hide-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

main {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  padding-left: .25rem;
  padding-right: .25rem;
}

main img {
  max-width: 100%;
  height: auto;
}

main,
footer {
  padding-bottom: 4rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .25rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #272727;
  color: #F1F1F1;
  text-align: center;
  position: -webkit-sticky;
  margin-bottom: 2rem;
}

header .logo {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

header .logo.small {
  height: 3rem;
}
header .logo.medium {
  height: 4rem;
}
header .logo.large {
  height: 5rem;
}

header h1 {
  font-size: 1.5rem;
  padding: .25rem;
  margin-top: 0;
  margin-bottom: 0;
}

header a:link {
  color: inherit;
  border-bottom-color: transparent;
  margin: .5rem;
}

header > nav {
  position: relative;
  margin-left: auto;
}

header > a,
header > nav,
header > nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li:marker {
  display: none;
}

header > nav > ul > li {
  margin-left: .25rem;
  margin-right: .25rem;
}

header nav a {
  display: block;
}

/* header nav a.login {
  position: relative;
}

header nav a.login:before {
  content: "";
  border: .175rem solid #FAA300;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: -.5rem;
  border-radius: .25rem;
} */

header nav a:hover,
header nav a:active,
header nav a:focus {
  color: inherit;
  border-bottom: .125rem solid white;
}

header a:visited:hover,
header a:visited:active,
header a:visited:focus {
  color: inherit;
}

footer {
  color: #f1f1f1;
  flex-grow: 0;
}
footer a:link {
  color: inherit;
  border-bottom-color: transparent;
  margin: .5rem;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: inherit;
  border-bottom: .125rem solid white;
}

footer a:visited:hover,
footer a:visited:active,
footer a:visited:focus {
  color: inherit;
}

.scroll-container-wrapper {
  color: #f1f1f1;
}

.scroll-container-wrapper a {
  border-bottom: 0;
}

.scroll-container-wrapper a:focus,
.scroll-container-wrapper a:hover,
.scroll-container-wrapper a:active {
  color: inherit;
}

.scroll-container-wrapper a:visited:hover,
.scroll-container-wrapper a:visited:focus,
.scroll-container-wrapper a:visited:active {
  color: inherit;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

section {
  padding-bottom:.01rem;
  margin-bottom: 2rem;
  border: .125rem solid rgba(0,0,0,0);
  border-top: 0;
}

section:target {
  border-color: rgba(247, 219, 7, 1);
}

section h1 {
  font-size: 2rem;
  font-weight: normal;
  position: relative;
  padding: .25rem;
  padding-left: 1.25rem;
  margin-top: 0;
  margin-left: -.875rem;
  margin-right: -.125rem;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
section p {
  margin-left: 1rem;
  margin-right: 1rem;
}

main ul li {
  margin-bottom: .5rem;
}

button,
a.button {
    border: none;
    border-radius: .25rem;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    background: #FAA300;
    color:  #000;
    font-size: 1.5rem;
    line-height: 1;
    width: 25rem;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
  color: #000;
  background: #DB930E;
}

button:focus,
a.button:focus {
  /* outline: .25rem solid #FFF; */
  /* outline-offset: -.25rem; */
}

button:active,
a.button:active {
    transform: scale(0.99);
}

footer {
  padding: 2rem;
  background-color: #140914;
  text-align: center;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  display: inline-block;
}

footer a {
  /* display: inline-block; */
  margin: .5rem;
}

.scroll-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 100vh;
  bottom: 0;
  width: 4rem;
  overflow: visible;
}

.scroll-container-wrapper {
  align-self: flex-end;
  position: sticky;
  bottom: 1rem;
  background-color: rgba(0,0,0, .8);
}

.scroll-container-wrapper a {
  color: #fff;
  display:block;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  font-size: 3rem;
}
