---
siteSuffix: ""
---
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
  <a href="{{ entry.url | url }}">{{ entry.text }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <title>
    {% if title %}
      {{ title }} -
    {% endif %}
    {{ settings.siteName }}{% if settings.siteSlogan %} | {{settings.siteSlogan}}{% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom-styles.css">

    {% if settings.siteIcon %}
    <link rel="icon" href="{{ settings.siteIcon }}">
    {% else %}
    <link rel="icon" href="{{ settings.siteLogo }}">
    {% endif %}

    {% if settings.plausibleDomain %}
    <script async defer data-domain="{{ settings.plausibleDomain }}" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
  </head>
  <body>

    <header id="top">
      <a href="/" class="home">
        <img class="logo {{settings.navLogoSize}}" alt="logo" src="{{ settings.siteLogo }}" />
        <h1
          class="
            title
            {% if settings.hideSiteName %}hide-text{% endif %}
          "
        >{{ settings.siteName }}</h1>
      </a>
      <nav aria-label="Main Navigation">
        <ul>
          {%- for entry in navigation.children %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
      </nav>
    </header>

    <main id="main">
      {{ content | safe }}
    </main>

    <footer>
      <nav>
        <ul>
          {%- for entry in footer_navigation.children %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
      </nav>
      <div class="copyright">
        <p>
          © {{ settings.siteName }}
        </p>
      </div>
    </footer>

    <div class="scroll-container">
      <div class="scroll-container-wrapper">
        <a href="#top" title="Top">
          ↑
        </a>
      </div>
    </div>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
